body {
    font-family: Impact;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container{
    background-color: lightcoral;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer;
    font-family: impact;
}

input.hover{
    background-color: lightpink;
}

img{
    display: flex;
    align-items: end;
}
